/* TEDxKowloon Style */

/* Variables */
$red: #ff2b06;
$black: #000000;
$white: #ffffff;
$grey-bg: #a7a7a7;
$grey-text: #666;

$sans-serif: 'Roboto', "微軟正黑體", "Microsoft JhengHei", 'sans-serif';

$section-margin: 30px;
$section-inner-margin: 10px;

/* Typography */
body {
	font-family: $sans-serif;
	font-size: 16px;
	color: $grey-text;
}

/* Common Element */
.body-content {
	margin-top: 80px;
}

img {
	@extend .img-responsive;
}

.navbar {
	background: rgba(255, 255, 255, 0.9);
	border-bottom: darken($white, 5%) 1px solid;
}
.navbar-toggle .icon-bar {
	background: $grey-bg;
}

/* Home */
.banner-top {
	margin-bottom: $section-margin;
	img {
		margin: 0 auto;
		width: 100%;
	}
}

.video-archive {
	margin-bottom: $section-margin;
}
.video-archive-list {
	margin-bottom: $section-inner-margin;
}
.video-archive-nav {
	margin-bottom: $section-inner-margin;
}
.video-archive-list {
	@extend .clearfix;
	list-style: none;
	padding: 0;
	li {
		@include make-xs-column(12);
		@include make-md-column(6);
		padding: 2px;
		// margin-bottom: $section-inner-margin;
		a {
			display: block;
		}
		img {
			width: 100%;
		}
	}
}
.video-archive-page {
	-webkit-transform: translateX(-118px); 
	margin: 0 auto;
	position: relative;
	left: 50%;
}



.blog-post-list {
	list-style: none;
	padding: 0;
	margin-bottom: $section-margin;
	.blog-item {
		@extend .clearfix;
		margin-bottom: 15px;
		.blog-post-thumbnail {
			@extend .img-thumbnail;
			width: 100%;
			margin-right: $section-inner-margin;
			@media (min-width: $screen-sm-min) {
				float: left;
				width: auto;
			}
		}
	}
	.blog-title {
		margin-top: 5px;
		@media (min-width: $screen-sm-min) {
			margin-top: 0;
		}
	}
}

.about-us {
	margin-bottom: $section-margin;
}

.footer {
	border-top: $grey-bg 1px solid;
	padding: $section-inner-margin 0;
}