<!doctype html>
<html ng-app="MyApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <title>Math</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <style>

    </style>
</head>

<body ng-controller="myController">
    <div class="container">
        <h1 class="page-header">Math Logic</h1>
        <form class="form-horizontal">
            <!-- amount -->
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-1 control-label">Amount</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" ng-model="loan" class="form-control" placeholder="Input 1">
                    </div>
                </div>
            </div>

            <!-- interest rate -->
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-1 control-label">Interest</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input type="text" ng-model="interest" class="form-control" placeholder="Interest rate">
                        <div class="input-group-addon">%</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-1 control-label">Monthly</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" ng-model="monthinterest" class="form-control" placeholder="Interest">
                    </div>
                </div>
            </div>

            <!-- time -->
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-1 control-label">Time</label>
                <div class="col-sm-2">
                    <div class="input-group">
                        <input type="text" ng-model="month" class="form-control" placeholder="Input 3">
                        <div class="input-group-addon">month</div>
                    </div>
                </div>
            </div>
        </form>

        <h3>Result</h3>
        <p>Loan:{{loan}}, Interest:{{interest}}%, Month:{{month}}</p>
        <p>
            Payment per month: ${{ ((loan*interest/100) + loan)/month || 0 | number:0 }}
        </p>
        <p>
            Total amount: ${{(loan*interest/100) + loan}}
        </p>
        <p>
            Total interest: ${{loan*interest/100}}
        </p>
    </div>

<script>
var app = angular.module("MyApp", []);

app.controller("myController", function($scope, $http) {
    $scope.loan = 100000;
    $scope.interest = 2.6;
    $scope.month = 12;
    $scope.monthinterest = 100;

    // change interest rate based on deposite
   //  $scope.$watch('input1', function () {
   //    if ($scope.input1 >= 100 && $scope.input1 < 200) {
   //        $scope.interest = 10;
   //    } else if ($scope.input1 >= 200) {
   //        $scope.interest = 20;
   //    } else {
   //      $scope.interest = 30;
   //    }
   // });
});
</script>
</body>

</html>
