//
// Core Variables
// --------------------------------------------------

// Color
$red: #ED1C24;

$white: #ffffff;
$black: #000000;

$gray: #ccc;
$gray-text: #666;
$gray-dark: #333;

// Font
$font-content: 16px;
$basic-font: 微軟正黑體, "Microsoft JhengHei", sans-serif;