<!doctype html>
<html ng-app="MyApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <title>Airport</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <style>

    </style>
  </head>

  <body ng-controller="myController">

  	<div class="container-fluid">

      <h1>Airport Search</h1>
      <p>
        <input type="text" ng-model="courseSearch" class="form-control" placeholder="Search for airport by name, city or code">
      </p>
      <div class="row">
        <div ng-repeat="event in events | filter: courseSearch" class="col-xs-3 col-lg-2">
          <div class="tile">
            <p>{{event.name}} <small>({{event.iata}})</small></p>
          </div>
        </div>
      </div>

  	</div>

    <script>
    var app = angular.module("MyApp", []);

    app.controller("myController", function($scope, $http) {

      // get json data
      $http.get('airports.json').success(function(data) {
        $scope.events = data;
      });

    });

    </script>
  </body>
</html>