<!doctype html>
<html ng-app="MyApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <title>Event List</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <style>
      table > tbody > tr > td {
        padding: 4px 8px !important;
      }
      table > tbody > tr:hover > td {
        background: #eee;
        cursor: pointer;
      }
      .search-box {
        margin-bottom: 20px;
      }
      .tile {
        border: #ccc 1px solid;
        padding: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>

  <body ng-controller="eventController">

  	<div class="container">
  		<h1>Event List</h1>
  
      <input type="text" class="form-control search-box" ng-model="search" placeholder="Event Search">

      <!-- event list -->
      <table class="table">
        <tr class="info">
          <th style="width:20%">Title</th>
          <th style="width:180px">Date</th>
          <th>Type</th>
          <th style="width:10%">Location</th>
          <th>Sector</th>
          <th>Ticker</th>
          <th>Host</th>
        </tr>
        <tr ng-repeat="event in events | limitTo: 20 | filter: search">
          <td>{{event.Title}}</td>
          <td>{{event.StartDate}} - {{event.EndDate}}</td>
          <td>{{event.EventType}}</td>
          <td>{{event.Locations}}</td>
          <td>{{event.Sectors}}</td>
          <td>{{event.Tickers}}</td>
          <td>{{event.Host}}</td>
        </tr>
      </table>

      <!-- event tile -->
      <h1>Event Tile</h1>
      <div class="row">
        <div ng-repeat="event in events | limitTo: 10" class="col-xs-4">
          <div class="tile">
            <p><b>{{event.Title}}</b></p>
            <p>{{event.Host}}</p>
            <p>{{event.StartDate}} - {{event.EndDate}}</p>
          </div>
        </div>
      </div>

  	</div>

    <script>
    var app = angular.module("MyApp", []);

    app.controller("eventController", function($scope, $http) {

      // get json data
      $http.get('event.json').success(function(data) {
        $scope.events = data;
      });

    });

    </script>
  </body>
</html>