<!doctype html>
<html ng-app="MyApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <title>Legco List</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <style>
      .photo, .info {
        float: left;
      }
      .photo {
        margin-right: 10px;
      }
      .photo-img {
        width: 40px;
      }
    </style>
  </head>
  <body ng-controller="myController">

  	<div class="container-fluid">

      <h1>Legco List</h1>
      <p>
        <input type="text" ng-model="courseSearch" class="form-control">
      </p>
      <div class="row">
        <div ng-repeat="people in peoples | filter: courseSearch" class="col-xs-3">

            <div class="photo">
              <img src="{{people.photo}}" class="photo-img">
            </div>
            <div class="info"><b>{{people.name}}</b><br>{{people.category}}</div>

        </div>
      </div>

  	</div>

    <script>
    var app = angular.module("MyApp", []);

    app.controller("myController", function($scope, $http) {

      // get json data
      $http.get('legco.json').success(function(data) {
        $scope.peoples = data;
      });

    });

    </script>
  </body>
</html>