include ../component/analytics.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Find CP
        link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css')
        link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4')
        +analyticsHeader()
    body
        +analyticsNoScript()
        .container.mt-3.mb-3
            h1 Find CP
            p Integration with algolia search

            .mb-1
                #search-box
            .mb-3
                #clear-all
            .row
                .col-3
                    #refinement-list
                    hr
                    #current-refined-values
                .col
                    ul.pl-3
                    #hits
                    #pagination

        script.
            const search = instantsearch({
                appId: 'WDJ2B9FLVR',
                apiKey: '8e95452f95efc48d5314a35f33c2202e',
                indexName: 'find_cp',
                routing: true
            });

            // initialize SearchBox
            search.addWidget(
                instantsearch.widgets.searchBox({
                    container: '#search-box',
                    placeholder: 'Search for products'
                })
            );

              // initialize RefinementList
            search.addWidget(
                instantsearch.widgets.refinementList({
                    container: '#refinement-list',
                    attributeName: 'serviceArea'
                })
            );

            // initialize hits widget
            search.addWidget(
                instantsearch.widgets.hits({
                container: '#hits',
                templates: {
                    empty: 'No results',
                    item: '<li>{{objectID}}: {{{_highlightResult.enFirstName.value}}} {{{_highlightResult.enLastName.value}}} {{{_highlightResult.enNickName.value}}}</li>'
                }
                })
            );

            // initialize currentRefinedValues
            search.addWidget(
            instantsearch.widgets.currentRefinedValues({
                container: '#current-refined-values',
                // This widget can also contain a clear all link to remove all filters,
                // we disable it in this example since we use `clearAll` widget on its own.
                clearAll: false
            })
            );

            // initialize clearAll
            search.addWidget(
            instantsearch.widgets.clearAll({
                container: '#clear-all',
                templates: {
                link: 'Reset everything'
                },
                autoHideContainer: false
            })
            );

            // initialize pagination
            search.addWidget(
            instantsearch.widgets.pagination({
                container: '#pagination',
                maxPages: 20,
                // default is to scroll to 'body', here we disable this behavior
                scrollTo: false
            })
            );

            search.start();

