<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Playground</title>
	<style>
		.people {
			margin-right: 1em;
		}
    .todo-item:hover {
      transition: background-color .2s ease;
      position: relative;
      cursor: pointer;
      background-color: #efefef;
    }
    .done {
      text-decoration: line-through;
    }
	</style>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body ng-app="myApp">

<div ng-controller="myController" class="container">
  
<h1 class="page-header">Angular Playground</h1>

<h3>Click to Plus One</h3>
<p class="bg-success">{{greeting}}</p>
<p>{{something}} <button ng-click="plusOne()" class="btn btn-primary">Pump+</button></p>

<hr>

<h3>Add item to array</h3>
<p>
  <span ng-repeat="people in peoples" class="people">{{people}}</span>
</p>
<form class="form-inline">
  <div class="form-group">
  	<input type="text" ng-model="newPeople" placeholder="Type in a name" class="form-control">
  </div>
  <button ng-click="addPeople(newPeople)" class="btn btn-primary">Add People</button>
</form>

<hr>

<section class="row">
  <div class="col-sm-6">
    <h3>To-Do List {{todo.length}}</h3>
    <ul class="todo">
    	<li ng-repeat="todo in todos | filter: todo.done='false'" ng-click="todo.done=!todo.done" ng-class="{'done': todo.done}" class="todo-item">
    		{{todo.task}}
    	</li>
    </ul>
  </div>

  <div class="col-sm-6">
    <h3>Done</h3>
    <ul class="todo">
      <li ng-repeat="todo in todos | filter: todo.done='true'" ng-click="todo.done=!todo.done" ng-class="{'done': todo.done}" class="todo-item">
        {{todo.task}}
      </li>
    </ul>
  </div>
</section>

<form class="form-inline">
	<input type="text" ng-model="newTask" placeholder="What needs to be done?" class="form-control">
  <button ng-click="addTask(newTask)" class="btn btn-primary">Add To Do</button>
</form>

</div> <!--/container-->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script>
var app = angular.module('myApp',[]);

app.controller('myController', ['$scope', function($scope) {
  $scope.greeting = 'Hola!';
  $scope.something = 100;

  $scope.plusOne = function() {
  	$scope.something += 1;
  	$scope.greeting = $scope.greeting + (", " + $scope.something);
  };

  // list of people
  $scope.peoples = ["John", "Sam", "Tim", "Amy"];
  $scope.addPeople = function(newPeople) {
    $scope.peoples.push(newPeople);
  };

  // initial to-do list
  $scope.todos = [
  	{task:"buy breakfast", done: true},
  	{task:"take bus", done: false},
  	{task:"get ticket", done: false},
    {task:"get dressed", done: true}
  ]
  // add a task to to-do list
  $scope.addTask = function(newTask) {
    if(newTask !== '') {
      $scope.todos.push({task:newTask, done: false});
      $scope.newTask =  '';
    } else {
      alert('Enter a task for your to do!');
    }
  };

  // random a number 1-10
  $scope.randomNum = function() {
    return Math.floor(Math.random()*10 + 1);
  };

}]);

</script>
</body>
</html>