<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Playground</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body ng-app="myApp">

<div class="container" ng-controller="MainController">
	<div class="page-header">
		<h1>Angular Playground</h1>
	</div>

	<!-- plus one -->
	<h4>Click to plus one</h4>
	<p>Current Count <span class="label label-primary">{{count}}</span></p>
	<p><button class="btn" ng-click="plusOne()">+Plus One</button></p>

	<hr>
	<!-- data list -->
	<h4>Show data list</h4>
	<ul>
		<li ng-repeat="people in peoples">{{people.name}}, {{people.age}}</li>
	</ul>
</div>

<!-- Angular JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<script>
	var app = angular.module("myApp", []);

	app.controller('MainController', ['$scope', function($scope) { 
		$scope.count = 1;
		// plus one
		$scope.plusOne = function() {
			$scope.count += 1;
		}

		// people list
		$scope.peoples = [
			{name: "Tom", age: "22"},
			{name: "Amy", age: "31"},
			{name: "Steve", age: "19"}
		]

	}]);

</script>
</body>
</html>