<!doctype html>
<html ng-app="MyApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    <title>Lava Lamp Navigation</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
    .nav {
        overflow: hidden;
        position: relative;
    }
    .nav-item {
        float: left;
        margin-right: 1.5em;
        font-weight: bold;
        font-size: 1.2em;
    }
    .nav-item:hover {
        cursor: pointer;
        color: blue;
    }
    .nav-wrap {
        position: relative;
    }
    .nav-highlight {
        height: 3px;
        width: 46px;
        background: blue;
        position: absolute;
    }
    </style>
</head>

<body ng-controller="myController">
    <div class="container-fluid">
        <h1 id="title">Lava Lamp Navigation</h1>
        <p>Label: <span id="label">-</span></p>
        <p>Item Width: <span id="width">-</span></p>
        <p>Item Position: <span id="x">-</span> <span id="y"></span></p>
        
        <hr>
        <div class="nav-wrap">
            <ul class="nav">
                <li ng-dblclick="delete(navitem)" class="nav-item" ng-repeat="navitem in navitems">
                    {{navitem}}
                </li>
            </ul>
            <div class="nav-highlight"></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">
                <input ng-model="newItem" type="text" class="form-control" placeholder="Add Item to Nav">
                <button ng-click="addItem(newItem)" class="btn btn-default">Add</button>
            </div>
            <div class="col-xs-12">Double click nav item to delete</div>
        </div>
    </div>
    <div id="mask"></div>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <!-- TweenMax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
    <script>
    var app = angular.module("MyApp", []);

    app.controller("myController", function($scope, $http) {
        $scope.navitems = [ "Home", "About Us", "Pricing", "A Long Menu Item 123", "Hello World", "Interesting Story", "End of story"];
        $scope.eventStatus = [ "All", "Live", "Approved", "Planning", "Rejected"];

        $(document).on('click', '.nav-item',  function(e) {
            // define variables
            var content = $(this).text();
                itemWidth = $(this).width();
                itemPosX = $(this).position().left;
                itemPosY = $(this).position().top + 21;
                highlight = $('.nav-highlight');

            // print variables
            $('#label').text(content);
            $('#width').text(itemWidth);
            $('#x').text(itemPosX);
            $('#y').text(itemPosY);
            
            // animate to target
            TweenMax.to(highlight, .5, {left: itemPosX, top: itemPosY, width: itemWidth, ease: Power4.easeOut})
        })

        $scope.addItem = function(newItem) {
            // alert (newItem);
            $scope.navitems.push(newItem);
        }

        $scope.delete = function(target) {
            // alert(target);
            var target = $scope.navitems.indexOf(target);
            $scope.navitems.splice(target, 1);
        }
    });
    </script>
</body>

</html>
