<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular json reader</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<style>
		body { 
			font-family: arial;
			line-height: 1.6;
			padding: 2% 5%; 
		}
	</style>
</head>
<body ng-app="MyApp">

	<h1>Angular json Reader</h1>

	<div ng-controller="UserController">

		<!-- simple json -->
		<h2>Read simple json</h2>
		<ol>
			<li ng-repeat="user in users | limitTo: 12">
				<b>{{user.FirstName}} {{user.LastName}}</b> - {{user.Email}}
			</li>
		</ol>
		
		<!-- layered json -->
		<h2>Read layered json</h2>
		<ul>
			<li ng-repeat="father in fathers">
				ID: {{father.id}} / Name: {{father.name}}
			</li>
		</ul>

	</div>



<script>

var app = angular.module("MyApp", []);

app.controller("UserController", function($scope, $http) {

	$http.get('user.json').success(function(data) {
  	$scope.users = data;
	});

	$http.get('data.json').success(function(data) {
  	$scope.fathers = data.fathers;
	});

});

</script>
</body>
</html>