<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular json reader</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<style>
		body { 
			font-family: arial;
			line-height: 1.6;
			padding: 2% 5%; 
		}
	</style>
</head>
<body ng-app="MyApp">

<section class="container">

	<h1>Angular json Reader</h1>
	
	<div ng-controller="UserController">
	
		<!-- simple json -->
		<h2>Read simple json</h2>
		<ol>
			<li ng-repeat="user in users | limitTo: 12 | orderBy:random ">
				<b>{{user.FirstName}} {{user.LastName}}</b> - {{user.Email}}
			</li>
		</ol>
		
		<!-- layered json -->
		<h2>Read layered json</h2>
		<ul>
			<li ng-repeat="father in fathers">
				ID: {{father.id}} / Name: {{father.name}}
			</li>
		</ul>
	
	</div>
	
	<div ng-controller="UXLinkController">
		<h2>{{title}}</h2>

		<div class="btn-group">
			<a ng-click="linkSearch = ''" class="btn btn-default">All </a>
			<a ng-click="linkSearch = 'css'" class="btn btn-default">CSS </a>
			<a ng-click="linkSearch = 'html'" class="btn btn-default">HTML </a>
			<a ng-click="linkSearch = 'article'" class="btn btn-default">Article </a>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<input type="text" ng-model="linkSearch" class="form-control" placeholder="Search links">
			</div>
		</div>

		<ol>
			<li ng-repeat="link in links | filter: linkSearch | orderBy: random">
				<a href="{{link.url}}">{{link.name}}</a>, <i>{{link.category}}</i>
			</li>
		</ol>
	</div>

</section>



<script>

var app = angular.module("MyApp", []);

app.controller("UserController", function($scope, $http) {

	// simple data
	$http.get('user.json').success(function(data) {
  	$scope.users = data;
	});

	// layer data
	$http.get('data.json').success(function(data) {
  	$scope.fathers = data.fathers;
  	$scope.random = function() {
	    return 0.5 - Math.random();
    }
	});

});

// UX Links
app.controller("UXLinkController", function($scope, $http) {
	$scope.title = "UI/UX Links"

	$http.get('link.json').success(function(data) {
		$scope.links = data;
		$scope.random = function() {
	    return 0.5 - Math.random();
    }
	});

});

</script>
</body>
</html>