doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no")
    link(rel="stylesheet" href="style.css")
    title 中文字體最佳顯示設定

  body
    section
      h1 中文字體最佳顯示設定

      p 精緻的網站，值得擁有好看的字體。從今天起，跟新細明體說再見﹗
      p 不使用外來 webfont, 純用系統內建字體，以 CSS 作最佳顯示設定。
      h2 各系統最佳內建中文字型
      ul
        li Windows: "微軟正黑體", "Microsoft JhengHei"
        li Mac:"儷黑 Pro", "LiHei Pro"
        li Linux: "文泉驛正黑", "WenQuanYi Zen Hei"
      h2 CSS 語法
      p.code 
        | font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", DFKai-SB, sans-serif;